<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

   <div th:replace="plantillas/plantilla1_fragmentos :: appHeaderHTML"></div>

    <body>
    <!-- END head -->
    
	    
	    
	    
		
		<!-- Wrap all page content here -->
		<div id="wrap">
		
			<div th:replace="plantillas/plantilla1_fragmentos :: (${user.isAdmin()}? headerMenuAdminUser : headerMenuNormalUser )"> </div>
		
		    <!-- Begin page content -->
		    <div class="container">
		
		        <div class="row">
		
		
		            <div class="span">
		
		                <!-- ################################ CONTENIDO DE LA VISTA ACTUAL MOSTRANDOSE ################################ -->
		                
						<div id="capa_empleados" style="display:none;" class="bodySeccion">
						    <h1 align="center">EMPLEADOS</h1>
						    
						</div>
		                <!-- ################################ FIN CONTENIDO DE LA VISTA ACTUAL MOSTRANDOSE ################################ -->
		
		
		                <br/>
		            </div>
		        </div>
		
		    </div>
		</div>	<!-- End wrap -->
			<!-- END body -->
	
		<!-- Piea de pagina de esta vista -->
		<div th:replace="plantillas/plantilla1_fragmentos :: (${user.isAdmin()}? footerAdminUser : footerNormalUser )"></div>
		
		
		<!-- Javascript para esta vista
		================================================== -->
		<script th:src="@{/recursos/js/js_empleados.js}"></script>
		
		<script>
			/*<![CDATA[*/

			/*]]>*/
		</script>
		
	</body>
</html>
