
/*
	Author: 
*/



.form-chico label {
    font-size: 12px;
    width: 150px;
    text-align: left;
}

.form-chico #tblLogsAccesosUsuarios {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}
